:host {
  display: block;
}

.dashboard-wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dashboard-wrap::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.dashboard-wrap .container {
  display: flex;
  flex-direction: column;
}

.dashboard-wrap .row {
  flex: 1 1 auto;
}

@media (max-width: 991px) {
  .dashboard-wrap {
    height: auto;
    overflow: visible;
  }
}

@media (max-width: 576px) {
  .dashboard-wrap .row {
    flex: initial;
  }
}
